/* add your CSS here */
.table {
	width: 300px;
	border: 1px solid lightgray;
	padding: 0em 1em 1em 1em;
	box-shadow: 5px 5px 5px #CCC;
}

.image {
    width: 300px;
    height: 200px;
}

.fact {
	font-style: italic;
}

.list {
	list-style-type: none;
	alignment-baseline;
    margin: 0;
    padding: 0;
}

.list span {
	font-weight: bold;
}

.content {
	border: 1px solid lightgray; 
	padding: 0em 1em 0em 1em;
}